<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
</head>
<body>
    <h1>Photo Gallery</h1>
    <img src="/images/IMG-20210412-WA0026.jpg"/>
    <img src="/images/IMG-20200624-WA0020.jpg"/>
    <img src="/images/IMG-20210412-WA0019.jpg"/>
    <img src="/images/IMG-20210412-WA0018.jpg"/>
    <img src="/images/IMG-20210209-WA0005.jpg"/>
    <img src="/images/IMG-20200814-WA0007.jpg"/>
    <img src="/images/IMG_20210403_130726_888.jpg"/>
    <img src="public/images/IMG_20200309_183815.jpg"/>

    

    
</body>
</html>