<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
</head>
<body>
    <h1>Work</h1>
    <img src="/images/IMG-20210412-WA0026.jpg"/>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iure eos itaque ut, debitis temporibus veritatis, vitae eum voluptas cumque similique fugit consequuntur obcaecati ab repudiandae facilis, laboriosam magnam nobis!</p>
</body>
</html>